{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.1.3-dist/css/bootstrap.min.css' %}">
<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap-4.1.3-dist/js/bootstrap.min.js' %}"></script>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Task Scheduler</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createtask">Create Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/tasklist">View Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/schedule">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createblocked">Create Permanent Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/blockedlist">View Permanent Tasks</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/taskscheduler/createweeklyschedule">Create Weekly Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/weeklyschedulelist">View Weekly Schedule</a>
			</li>
		</ul>
	</div>
</nav>

<!-- <form method="post" novalidate>
    {% csrf_token %}
    <table>
    	{{ form.as_table }}
		<tr>
			<th><label for="id_start_time">Start Time:</label></th>
			<td><input type="time" name="start_time" required id="id_start_time" /></td>
		</tr>
		<tr>
			<th><label for="id_end_time">End Time:</label></th>
			<td><input type="time" name="end_time" required id="id_end_time" /></td>
		</tr>
		<tr>
			<th><label for="daysrepeated">Days Repeated:</label></th>
			<td>
				<input type="checkbox" name="daysrepeated" value="0" />
				<label for="daysrepeated">Monday</label>
				<input type="checkbox" name="daysrepeated" value="1" />
				<label for="id_start_time">Tuesday</label>
				<input type="checkbox" name="daysrepeated" value="2" />
				<label for="id_start_time">Wednesday</label>
				<input type="checkbox" name="daysrepeated" value="3" />
				<label for="id_start_time">Thursday</label>
				<input type="checkbox" name="daysrepeated" value="4" />
				<label for="id_start_time">Friday</label>
				<input type="checkbox" name="daysrepeated" value="5" />
				<label for="id_start_time">Saturday</label>
				<input type="checkbox" name="daysrepeated" value="6" />
				<label for="id_start_time">Sunday</label>
			</td>
		</tr>
	</table>
    <input type="submit" value="Submit">
</form> -->

<form class="form-horizontal" method="post" novalidate style="margin-left: 1%; margin-top: 2%;">
	{% csrf_token %}
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_name">Weekly Schedule Name:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" id="id_name" placeholder="Enter Weekly Schedule Name">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_start_time">Start Time:</label>
		<div class="col-sm-6">
			<input type="time" class="form-control" name="start_time" id="id_start_time" placeholder="Enter Start Time">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_end_time">End Time:</label>
		<div class="col-sm-6">
			<input type="time" class="form-control" name="end_time" id="id_end_time" placeholder="Enter End Time">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_minimum_time_to_devote">Minimum Time to Devote(minutes):</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="minimum_time_to_devote" id="id_minimum_time_to_devote" placeholder="Enter Minimum Time to Devote">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_hard_bound">Hard Bounded Task:</label>
		<div class="col-sm-6">
			<input type="checkbox" class="form-control" name="hard_bound" id="id_hard_bound">
		</div>
	</div>
	<div>
		<div class="checkbox">
			<input type="checkbox" name="daysrepeated" value="0" />
			<label for="daysrepeated">Monday</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="daysrepeated" value="1" />
			<label for="id_start_time">Tuesday</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="daysrepeated" value="2" />
			<label for="id_start_time">Wednesday</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="daysrepeated" value="3" />
			<label for="id_start_time">Thursday</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="daysrepeated" value="4" />
			<label for="id_start_time">Friday</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="daysrepeated" value="5" />
			<label for="id_start_time">Saturday</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="daysrepeated" value="6" />
			<label for="id_start_time">Sunday</label>
		</div>
	</div>
	<div class="form-group"> 
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
