<div style="float: left">
	<a href="/taskscheduler/createtask">Create Task</a>
	<a href="/taskscheduler/tasklist">View Tasks</a>
	<a href="/taskscheduler/schedule">Schedule</a>
	<a href="/taskscheduler/createblocked">Create Blocked</a>
	<a href="/taskscheduler/blockedlist">View Blocked</a>
<div>

<form method="post" novalidate>
    {% csrf_token %}
    <table>
    	{{ form.as_table }}
		<tr>
			<th><label for="id_start_time">Start Time:</label></th>
			<td><input type="datetime-local" name="start_time" required id="id_start_time" /></td>
		</tr>
		<tr>
			<th><label for="id_end_time">End Time:</label></th>
			<td><input type="datetime-local" name="end_time" required id="id_end_time" /></td>
		</tr>
	</table>
    <input type="submit" value="Submit">
</form>