{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.1.3-dist/css/bootstrap.min.css' %}">
<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap-4.1.3-dist/js/bootstrap.min.js' %}"></script>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Task Scheduler</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/taskscheduler/createtask">Create Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/tasklist">View Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/schedule">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createblocked">Create Permanent Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/blockedlist">View Permanent Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createweeklyschedule">Create Weekly Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/weeklyschedulelist">View Weekly Schedule</a>
			</li>
		</ul>
	</div>
</nav>

<!-- <form method="post" novalidate>
    {% csrf_token %}
    <table>
    	{{ form.as_table }}
    	<tr>
			<th><label for="id_deadline">Deadline:</label></th>
			<td><input type="datetime-local" name="deadline" required id="id_deadline" /></td>
		</tr>
	</table>
    <input type="submit" value="Submit">
</form> -->

<form class="form-horizontal" method="post" novalidate style="margin-left: 1%; margin-top: 2%;">
	{% csrf_token %}
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_name">Task Name:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" id="id_name" placeholder="Enter Task Name">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_priority">Priority:</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="priority" id="id_priority" placeholder="Enter Task Priority">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_span">Span(in minutes):</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="span" id="id_span" placeholder="Enter Task Span">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_deadline">Deadline:</label>
		<div class="col-sm-6">
			<input type="datetime-local" class="form-control" name="deadline" id="id_deadline" placeholder="Enter Deadline">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_at_a_stretch">At a Stretch(minutes):</label>
		<div class="col-sm-6"> 
			<input type="number" class="form-control" name="at_a_stretch" id="id_at_a_stretch" placeholder="Enter At a Stretch for Task">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_max_repeats_per_day">Repeats per Day:</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="max_repeats_per_day" id="id_max_repeats_per_day" placeholder="Enter Repeats per Day">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id_break_needed_afterwards">Break Needed Afterwards(minutes):</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="break_needed_afterwards" id="id_break_needed_afterwards" placeholder="Enter Break Time Needed After 1 Round Task Completion">
		</div>
	</div>
	<div class="form-group"> 
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
