{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.1.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap-4.1.3-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>

<style type="text/css">
	/* The snackbar - position it at the bottom and in the middle of the screen */
	#creationSuccess {
	    visibility: hidden; /* Hidden by default. Visible on click */
	    min-width: 250px; /* Set a default minimum width */
	    margin-left: -125px; /* Divide value of min-width by 2 */
	    background-color: #333; /* Black background color */
	    color: #fff; /* White text color */
	    text-align: center; /* Centered text */
	    border-radius: 2px; /* Rounded borders */
	    padding: 16px; /* Padding */
	    position: fixed; /* Sit on top of the screen */
	    z-index: 1; /* Add a z-index if needed */
	    left: 50%; /* Center the snackbar */
	    bottom: 30px; /* 30px from the bottom */
	}

	/* Show the snackbar when clicking on a button (class added with JavaScript) */
	#creationSuccess.show {
	    visibility: visible; /* Show the snackbar */
	    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
	   However, delay the fade out process for 2.5 seconds */
	   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	   animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}
	/* The snackbar - position it at the bottom and in the middle of the screen */
	#creationFailure {
	    visibility: hidden; /* Hidden by default. Visible on click */
	    min-width: 250px; /* Set a default minimum width */
	    margin-left: -125px; /* Divide value of min-width by 2 */
	    background-color: #333; /* Black background color */
	    color: #fff; /* White text color */
	    text-align: center; /* Centered text */
	    border-radius: 2px; /* Rounded borders */
	    padding: 16px; /* Padding */
	    position: fixed; /* Sit on top of the screen */
	    z-index: 1; /* Add a z-index if needed */
	    left: 50%; /* Center the snackbar */
	    bottom: 30px; /* 30px from the bottom */
	}

	/* Show the snackbar when clicking on a button (class added with JavaScript) */
	#creationFailure.show {
	    visibility: visible; /* Show the snackbar */
	    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
	   However, delay the fade out process for 2.5 seconds */
	   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	   animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes fadein {
	    from {bottom: 0; opacity: 0;} 
	    to {bottom: 30px; opacity: 1;}
	}

	@keyframes fadein {
	    from {bottom: 0; opacity: 0;}
	    to {bottom: 30px; opacity: 1;}
	}

	@-webkit-keyframes fadeout {
	    from {bottom: 30px; opacity: 1;} 
	    to {bottom: 0; opacity: 0;}
	}

	@keyframes fadeout {
	    from {bottom: 30px; opacity: 1;}
	    to {bottom: 0; opacity: 0;}
	}

	.show {
		color: red;
		display: block;
		margin-left: 2%;
	}
	.hide {
		display: none;
		margin-left: 2%;
	}
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Task Scheduler</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createtask">Create Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/tasklist">View Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/schedule">Schedule</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/taskscheduler/createblocked">Create Permanent Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/blockedlist">View Permanent Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createweeklyschedule">Create Weekly Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/weeklyschedulelist">View Weekly Schedule</a>
			</li>
		</ul>
	</div>
</nav>

<div id="errorDiv" class="hide"></div>
<form id="blockedForm" class="form-horizontal" method="post" novalidate style="margin-left: 2%; margin-top: 2%;">
	{% csrf_token %}
	<div class="form-group row">
		<label class="control-label col-sm-2" for="id_name">Blocked Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="name" id="id_name" placeholder="Enter Blocked Name">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-2" for="id_start_time_date">Start Date-Time:</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="start_time_date" id="id_start_time_date" placeholder="Enter Start Time">
		</div>
		<div class="col-sm-2">
			<input type="time" class="form-control" name="start_time_time" id="id_start_time_time" placeholder="Enter Start Time">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-2" for="id_end_time_date">End Date-Time:</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="end_time_date" id="id_end_time_date" placeholder="Enter End Time">
		</div>
		<div class="col-sm-2">
			<input type="time" class="form-control" name="end_time_time" id="id_end_time_time" placeholder="Enter End Time">
		</div>
	</div>
	<div class="form-group row"> 
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>

<!-- Snackbars -->
<div id="creationSuccess">Task Created Successfully..</div>
<div id="creationFailure">Error Creating Task!</div>

{% block javascript %}
<script type="text/javascript">
	function getCookie(name) {
			var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
	$(function() {
		$("#id_start_time_date").datepicker();
		$("#id_start_time_date").datepicker("option", "showAnim", "slideDown");
		$("#id_end_time_date").datepicker();
		$("#id_end_time_date").datepicker("option", "showAnim", "slideDown");
		$('#blockedForm').submit(function(e) {
			e.preventDefault();
			console.log("Preventing form submit.");
			let data = {};
			data["name"] = $("#id_name").val();
			if (data["name"] == "" || data["name"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Name should not be blank</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			data["start_time_date"] = $("#id_start_time_date").val();
			if (data["start_time_date"] == "" || data["start_time_date"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Select a valid Start Date</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			data["end_time_date"] = $("#id_end_time_date").val();
			if (data["end_time_date"] == "" || data["end_time_date"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Select a valid End Date</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			data["start_time_time"] = $("#id_start_time_time").val();
			if (data["start_time_time"] == "" || data["start_time_time"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Select a valid Start Time</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			data["end_time_time"] = $("#id_end_time_time").val();
			if (data["end_time_time"] == "" || data["end_time_time"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Select a valid End Time</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			if (new Date() >= new Date(data["start_time_date"].concat(" ", data["start_time_time"]))) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Select a Start date-time in the future!</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			if (new Date() >= new Date(data["end_time_date"].concat(" ", data["end_time_time"]))) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Select a End date-time in the future!</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			console.log("Data for creating blocked: ", data);
			$.ajax({
				url: 'http://localhost:8000/tasksheduler/taskscheduler/createblocked',
				contentType: "application/x-www-form-urlencoded",
				type: "POST",
				headers: {
					"X-CSRFToken": getCookie('csrftoken')
				},
				data: data,
				dataType: 'json',
				success: function (data) {
					console.log("Blocked Task added successfully.");
					$("#creationSuccess").addClass("show");
					// After 3 seconds, remove the show class from DIV
					setTimeout(function(){
						$("#creationSuccess").removeClass("show"); $("#creationSuccess").addClass("");
					}, 2000);
					// location.reload();
				}
			});
		});
	});
</script>
{% endblock %}
