{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.1.3-dist/css/bootstrap.min.css' %}">
<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap-4.1.3-dist/js/bootstrap.min.js' %}"></script>

<style type="text/css">
	body {
		background-color: #f0fff0;
		color: #240090;
		/*font-family: "Times New Roman", Times, serif;
		font-size: 20px;*/
	}
	.navbar-default {
		background-color: #1034A6;
		height: 80px;
		font-size: 18px;
		font-weight: bold;
	}
	.navbar-default .navbar-brand {
		color: #FFFF33	;
		font-weight: bold;
		font-size: 25px;
	}
	label {
		font-weight: bold;
	}
	button {
		background-color: #7EF9FF;
	}
	ul > li {
		border-style: solid;
		border-right-width: 2px;
		border-left-width: 0px;
		border-top-width: 0px;
		border-bottom-width: 0px;
		border-color: #000000;
	}
	ul .active {
		-webkit-box-shadow: 0px 2px 0px #000000;
		-moz-box-shadow: 0px 2px 0px #000000;
		box-shadow: 0px 2px 0px #000000;
	}
	ul .active > a {
		color: #ADFF2F;
	}
	ul > li > a {
		color: #FFFF33;
	}
</style>

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
<nav class="navbar navbar-expand-sm navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Task Scheduler</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createtask">Create Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/tasklist">View Tasks</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/taskscheduler/schedule">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createblocked">Create Permanent Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/blockedlist">View Permanent Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createweeklyschedule">Create Weekly Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/weeklyschedulelist">View Weekly Schedule</a>
			</li>
		</ul>
	</div>
</nav>

<!-- Trigger the modal with a button -->
<button id="modalOpenBtn" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#confirmModal" style="display: none;">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="confirmModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button><br>
				<!-- <h4 class="modal-title">Mark Task as Undone</h4> -->
			</div>
			<div class="modal-body">
				<p>All tasks in schedule before current time is considered done, in case you missed some task, mark it as undone so that we can reschedule it for you and you don't miss your deadline:)</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="taskUndone" data-dismiss="modal">Mark as Undone?</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>  
	</div>
</div>

<script type="text/javascript">
	var schedule = new Array();
	let i = 0;
	{% for s in schedule %}
		console.log("Schedule "+(i++).toString()+": ", "{{ s }}");
		schedule.push({
			id: "{{ s.id }}",
			task_name: "{{ s.task.name }}",
			/*start_time: "{{ s.start_time }}",
			end_time: "{{ s.end_time }}"*/
			start_time: new Date("{{ s.start_time.isoformat }}"),
			end_time: new Date("{{ s.end_time.isoformat }}")
		});
	{% endfor %}
</script>

<div id="calendar" style="height: 800px;"></div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% load static %}
<!-- <script src="{% static  "js/tui-code-snippet.js" %}" type="text/javascript"></script>
<script src="{% static  "js/tui-calendar.js" %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static  "css/tui-calendar.css" %}" /> -->
<link rel="stylesheet" href="{% static  "fullcalendar-3.9.0/fullcalendar.css" %}" />
<script src="{% static  "js/jquery.js" %}" type="text/javascript"></script>
<script src="{% static  "js/moment.js" %}" type="text/javascript"></script>
<script src="{% static  "fullcalendar-3.9.0/fullcalendar.js" %}" type="text/javascript"></script>
<script src="{% static  "js/schedule.js" %}" type="text/javascript"></script>
