{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.1.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-glyphicons.css' %}">
<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'bootstrap-4.1.3-dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>

<style type="text/css">
	body {
		background-color: #f0fff0;
		color: #240090;
		/*font-family: "Times New Roman", Times, serif;
		font-size: 20px;*/
	}
	.navbar-default {
		background-color: #1034A6;
		height: 80px;
		font-size: 18px;
		font-weight: bold;
	}
	.navbar-default .navbar-brand {
		color: #FFFF33	;
		font-weight: bold;
		font-size: 25px;
	}
	label {
		font-weight: bold;
	}
	button {
		background-color: #7EF9FF;
	}
	ul > li {
		border-style: solid;
		border-right-width: 2px;
		border-left-width: 0px;
		border-top-width: 0px;
		border-bottom-width: 0px;
		border-color: #000000;
	}
	ul .active {
		-webkit-box-shadow: 0px 2px 0px #000000;
		-moz-box-shadow: 0px 2px 0px #000000;
		box-shadow: 0px 2px 0px #000000;
	}
	ul .active > a {
		color: #ADFF2F;
	}
	ul > li > a {
		color: #FFFF33;
	}

	/* The snackbar - position it at the bottom and in the middle of the screen */
	#snackbarMessage {
	    visibility: hidden; /* Hidden by default. Visible on click */
	    min-width: 250px; /* Set a default minimum width */
	    margin-left: -125px; /* Divide value of min-width by 2 */
	    background-color: #333; /* Black background color */
	    color: #fff; /* White text color */
	    text-align: center; /* Centered text */
	    border-radius: 2px; /* Rounded borders */
	    padding: 16px; /* Padding */
	    position: fixed; /* Sit on top of the screen */
	    z-index: 1; /* Add a z-index if needed */
	    left: 50%; /* Center the snackbar */
	    bottom: 30px; /* 30px from the bottom */
	}

	/* Show the snackbar when clicking on a button (class added with JavaScript) */
	#snackbarMessage.show {
	    visibility: visible; /* Show the snackbar */
	    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
	   However, delay the fade out process for 2.5 seconds */
	   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	   animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}
	/* The snackbar - position it at the bottom and in the middle of the screen */

	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes fadein {
	    from {bottom: 0; opacity: 0;} 
	    to {bottom: 30px; opacity: 1;}
	}

	@keyframes fadein {
	    from {bottom: 0; opacity: 0;}
	    to {bottom: 30px; opacity: 1;}
	}

	@-webkit-keyframes fadeout {
	    from {bottom: 30px; opacity: 1;} 
	    to {bottom: 0; opacity: 0;}
	}

	@keyframes fadeout {
	    from {bottom: 30px; opacity: 1;}
	    to {bottom: 0; opacity: 0;}
	}

	.table {
		background-color: #f0fff0;
		border-color: #282828;
		color: #696969;
	}
	.table-stripped {
		background-color: #f0fff0;
		border-color: #282828;
		color: #696969;
	}
	thead {
		color: #3500D3;
		font-weight: bold;
	}
</style>

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
<nav class="navbar navbar-expand-sm navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Task Scheduler</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createtask">Create Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/tasklist">View Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/schedule">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createblocked">Create Permanent Task</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/blockedlist">View Permanent Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/taskscheduler/createweeklyschedule">Create Weekly Schedule</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/taskscheduler/weeklyschedulelist">View Weekly Schedule</a>
			</li>
		</ul>
	</div>
</nav>

<div id="errorDiv" class="hide"></div>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Edit</td>
			<td style="display: none;">Id</td>
			<td>Task Name</td>
			<td>Start Time</td>
			<td>End Time</td>
			<td>Minimum Time to Devote</td>
			<td>Hard Bound</td>
			<td>Delete</td>
		</tr>
	</thead>
	<tbody>
		{% for w in weekly_schedule %}
			<tr>
				<td><a class="editbtn" href="#">Edit</a></td>
				<td style="display: none;">{{ w.id }}</td>
				<td>{{ w.name }}</td>
				<td>{{ w.start_time }}</td>
				<td>{{ w.end_time }}</td>
				<td>{{ w.minimum_time_to_devote }}</td>
				{% if w.hard_bound == 1 %}
					<td>Yes</td>
				{% else %}
					<td>No</td>
				{% endif %}
				<td><a id="{{w.id}}" class="deleteBtn" href="#" style="color: red;"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Snackbars -->
<div id="snackbarMessage"></div>

{% block javascript %}
  	<script>
  		function checkValidForm(data) {
			if (data["name"] == "" || data["name"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Name should not be blank</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			if (data["start_time"] === "" || data["start_time"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Start Time should not be blank</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			if (data["end_time"] === "" || data["end_time"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*End Time should not be blank</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			if (data["hard_bound"] === "" || data["hard_bound"] == null) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Hard bound should not be blank</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			if (!data["hard_bound"] && (isNaN(data["minimum_time_to_devote"]) || data["minimum_time_to_devote"] === "" || data["minimum_time_to_devote"] == null)) {
				$("#errorDiv").removeClass("hide");
				$("#errorDiv").html("<b>*Minimum time to devote should be a number.</b>");
				$("#errorDiv").addClass("show");
				return;
			}
			return true;
		}
		function saveData(data) {
			if (!checkValidForm(data)) {
				console.log("Invalid form");
				return;
			}
			$.ajax({
				url: 'http://localhost:8000/tasksheduler/taskscheduler/createweeklyschedule',
				contentType: "application/x-www-form-urlencoded",
				type: "POST",
				headers: {
					"X-CSRFToken": getCookie('csrftoken')
				},
				data: data,
				dataType: 'json',
				success: function (data) {
					if (data.error) {
						$("#snackbarMessage").text(data.error);
					} else {
						$("#snackbarMessage").text(data.msg);
					}
					$("#snackbarMessage").addClass("show");
					setTimeout(function(){
						$("#snackbarMessage").removeClass("show"); $("#snackbarMessage").addClass("");
					}, 3000);
				}
			});
		}
		function getCookie(name) {
			var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		$(function() {
			$('.editbtn').click(function () {
				var currentTD = $(this).parents('tr').find('td');
				if ($(this).html() == 'Edit') {
					console.log("Edit Button clicked");                  
				    $.each(currentTD, function(index, item) {
				    	if (index == 3) {
				    		$(this).html('<input type="time" class="form-control" name="deadline_time" id="id_start_time">');
				    	} else if (index == 4) {
				    		$(this).html('<input type="time" class="form-control" name="deadline_time" id="id_end_time">');
				    	} else {
				    		$(this).prop('contenteditable', true)
				    	}
				    });
				} else {
					console.log("Save Button clicked");
					let fields = ["id", "name", "start_time", "end_time", "minimum_time_to_devote", "hard_bound"]
					let new_values = new Object();
					let i = 0;
					$.each(currentTD, function(index, item) {
						console.log("Index: ",  index, ", item: ", item);
						if (index > 0 && index < 3) {
							new_values[fields[i]] = item.innerHTML;
							i++;
						} else if(index == 3) {
							new_values[fields[i]] = $(this).find("#id_start_time").val();
							i++;
						} else if (index == 4) {
							new_values[fields[i]] = $(this).find("#id_end_time").val();
							i++;
						} else if(index > 4 && index < 7) {
							new_values[fields[i]] = item.innerHTML;
							i++;
						}
						$(this).prop('contenteditable', false);
						if (index == 3) {
							$(this).html(moment(new_values["start_time"], 'HH:mm').format("HH:mm a"));
						}
						if (index == 4) {
							$(this).html(moment(new_values["end_time"], 'HH:mm').format("HH:mm a"));
						}
						if (index == 7) {
							saveData(new_values);
						}
					});
					console.log(new_values);
				}
				$(this).html($(this).html() == 'Edit' ? 'Save' : 'Edit');
			});
			$(document).on("click",".deleteBtn", function () {
			    let id = $(this).attr('id');
			    $.ajax({
			        url: 'http://localhost:8000/tasksheduler/taskscheduler/deleteweeklyschedule',
			        contentType: "application/x-www-form-urlencoded",
			        type: "POST",
			        headers: {
			        	"X-CSRFToken": getCookie('csrftoken')
			        },
			        data: {
			          "id": id
			        },
			        dataType: 'json',
			        success: function (data) {
			          console.log("Weekly Schedule deleted successfully.");
			          location.reload();
			        }
			      });
			});
		});
	</script>
{% endblock %}
